<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>org.acidanthera.driver.CPUFriendDataProvider</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>CPUFriendDataProvider</string>
  <key>CFBundlePackageType</key>
  <string>KEXT</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.1</string>
  <key>CFBundleVersion</key>
  <string>1.0.1</string>
  <key>IOKitPersonalities</key>
  <dict>
    <key>CPUFriendDataProvider</key>
    <dict>
      <key>CFBundleIdentifier</key>
      <string>com.apple.driver.AppleACPIPlatform</string>
      <key>IOClass</key>
      <string>AppleACPICPU</string>
      <key>IONameMatch</key>
      <string>processor</string>
      <key>IOProbeScore</key>
      <integer>1100</integer>
      <key>IOProviderClass</key>
      <string>IOACPIPlatformDevice</string>
      <key>cf-frequency-data</key>
      <data>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBsaXN0IFBV
QkxJQyAiLS8vQXBwbGUgQ29tcHV0ZXIvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5h
cHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAi
PgogIDxkaWN0PgogICAgPGtleT5wbXNwRmlsZTwva2V5PgogICAgPGludGVnZXI+MTQ8L2ludGVn
ZXI+CiAgICA8a2V5PklPUGxhdGZvcm1Qb3dlclByb2ZpbGU8L2tleT4KICAgIDxkaWN0PgogICAg
ICA8a2V5PkNQVUZsb29yPC9rZXk+CiAgICAgIDxpbnRlZ2VyPjgwMDwvaW50ZWdlcj4KICAgICAg
PGtleT5OZXR3b3JrVGltZXJEZWxheTwva2V5PgogICAgICA8aW50ZWdlcj45MDA8L2ludGVnZXI+
CiAgICAgIDxrZXk+U3RhbmRieURlbGF5SGlnaDwva2V5PgogICAgICA8aW50ZWdlcj44NjQwMDwv
aW50ZWdlcj4KICAgICAgPGtleT5TdGFuZGJ5RGVsYXk8L2tleT4KICAgICAgPGludGVnZXI+ODY0
MDA8L2ludGVnZXI+CiAgICAgIDxrZXk+U3RhbmRieUJhdHRlcnlUaHJlc2hvbGQ8L2tleT4KICAg
ICAgPGludGVnZXI+NTA8L2ludGVnZXI+CiAgICAgIDxrZXk+QXV0b1Bvd2VyT2ZmPC9rZXk+CiAg
ICAgIDx0cnVlLz4KICAgICAgPGtleT5JT1BsYXRmb3JtU3lzdGVtU2xlZXBQb2xpY3k8L2tleT4K
ICAgICAgPGRhdGE+VTB4UVZBSUFGUUFBSGhBQUFBQUFBQUFWQUFBQUJRQUFCZ0FBQUFBQUFBQUFK
UUFBQUFBQUFDQUFBQUFnQUFBQUFBQUFBQUFBQUFBRgpBQUFBQUFBQUFBQWhBQUFBQUFBQUFBQUVB
QUFBQkFBQUFBQUFBQUFBQUFZQUFBQUFBQUFBQUNVQUFBQUFBQUFBQUFFQUFBQUJBQUFBCkFBQUFB
QUFBQkFBQUFBQUFBQUFBQVFBQUFBQUFBRUFlRUFBQUFBQUFHQkVnQUJnQkFBQUZBQUFBQWdBQUFB
QXBBQUFBQUFBQVFBWUEKQUFBQUFBQVlBQ0FBR0FBQUFBVUFBQUFBQUFBQUFDRUFBQUFBQUFCQUho
QUFBQUFBQUNnUklBQWdBUUFBQlFBQUFBSUFBQUFBS1FBQQpBQUFBQUVBR0VBQUFBQkFBSUVBZ0FD
QkFBQUFDQUFBQUNBQUFBQUF0QUFBQUFBQUFRQVlRQUFBQUVBQUF3Q0FBQU1BQUFBSUFBQUFJCkFB
QUFBQzBBQUFBQUFBQkFCZ0FBQUFBQUFBaUFJQUFJZ0FBQUJRQUFBQUFBQUFBQUlRQUFBQUFBQUVB
R0FBQUFBQUFBS0FBZ0FDQUEKQUFBRkFBQUFBQUFBQUFBaEFBQUFBQUFBVUI0UUFCQUFBQUFBRVNB
QUFBRUFBQVVBQUFBQ0FBQUFBQ2tBQUFBQUFBQlFCZ0FBRUFBQQpBQUFBSUFBQUFBQUFCUUFBQUFB
QUFBQUFJUUFBQUFBQUFBQWVFQUFBQUFBQUFCa0FBQUFKQUFBR0FBQUFBQUFBQUFBbEFBQUFBQUFB
CkFCNFFBQUFBQUFBSUVRQUFDQUVBQUFZQUFBQUFBQUFBQUNVQUFBQUFBQUFBSGhBQUFBQUFBRUFS
QUFCQUFRQUFCZ0FBQUFBQUFBQUEKSlFBQUFBQUFBRUFlRUFCQUFBQUFCaEVBQUFZQkFBQURBQUFB
QWdBQUFBQXRBQUFBQUFBQVFCNFFBRUFBQUFBQUVRQUFBQUVBQUFJQQpBQUFDQUFBQUFDMEFBQUFB
QUFCQUJnQUFBQUFBQUFBQUlBQUFBQUFBQWdBQUFBRUFBQUFBTFFBQUFBQUFBRUFBQUFCQUFBQUFC
Z0FBCkFBWUFBQUFEQUFBQUFBQUFBQUFsQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBSUFB
QUFBQUFBQUFDVUFBQUFBQUFBPTwvZGF0YT4KICAgICAgPGtleT5GcmVxdWVuY3lWZWN0b3JzPC9r
ZXk+CiAgICAgIDxhcnJheT4KICAgICAgICA8ZGF0YT4KQWdBQUFBQUFBQUFDQUFBQUFBQUFBR1FB
QUFBQUFBQUFHUUFBQUFBQUFBQUFaUC8vLy8vLy93OEFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFHUUFB
QUFDQUFBQUFBQUFBT2dEQUFBQUFBQUFvQThBQUFBQUFBQUJaUC8vLy8vLy93OEFBQUFBQUFBQQpB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFHUUFBQUFEQUFBQUFBQUFBRUJDRHdBQUFBQUFvQThBQUFBQUFBQUNaUC8vLy8v
LwovdzhBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEvLy8v
Ly8vLwpEd0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CkFBQUFBQUFBQUVKQlEwdEhVazlWVGtRQUFBQUFBQUFBQWNnQVpBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFVa1ZCVEZSSlRVVmZVMGhQVWxRQUFBSUNBQUFBQUdRQQpBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQWRXSndZd0FBQUFBQUFBQUFBQUFB
QUFFQUFBQnZabVlBQUFBQUFBQUFBQUFBCkFBQUFjR1Z5WmkxaWFXRnpBQUFBQUFBQUFBQUFBQUFC
QUFBQUFBQUFBQUFBQUFBQUFBQUFkWFJwYkdsMGVTMTBiSFpzQUFBQUFBQUEKQUFCUEFBQUFBQUFB
QUFBQUFBQUFBQUFBYm05dUxXWnZZMkZzTFhSc2Rtd0FBQUFBQUFENkFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKPC9kYXRhPgogICAgICA8L2FycmF5PgogICAgICA8a2V5PlRoZXJt
YWxDb25maWd1cmF0aW9uPC9rZXk+CiAgICAgIDxkaWN0PgogICAgICAgIDxrZXk+RG9tYWluPC9r
ZXk+CiAgICAgICAgPGRpY3Q+CiAgICAgICAgICA8a2V5PkNQVTwva2V5PgogICAgICAgICAgPGRp
Y3Q+CiAgICAgICAgICAgIDxrZXk+U0ZJV2luZG93PC9rZXk+CiAgICAgICAgICAgIDxpbnRlZ2Vy
PjUwMDAwPC9pbnRlZ2VyPgogICAgICAgICAgICA8a2V5PlNGSU1haW50ZW5hbmNlPC9rZXk+CiAg
ICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICAgIDxrZXk+RWZmb3J0Q3VydmU8L2tleT4KICAg
ICAgICAgICAgICA8c3RyaW5nPjQwPTAlLDgwPTUwJTwvc3RyaW5nPgogICAgICAgICAgICA8L2Rp
Y3Q+CiAgICAgICAgICAgIDxrZXk+U0ZJRGFyd2luQkc8L2tleT4KICAgICAgICAgICAgPGRpY3Q+
CiAgICAgICAgICAgICAgPGtleT5FZmZvcnRDdXJ2ZTwva2V5PgogICAgICAgICAgICAgIDxzdHJp
bmc+NDA9MCUsODA9NTAlPC9zdHJpbmc+CiAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAg
PGtleT5TRklBcHBOYXA8L2tleT4KICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgPGtl
eT5FZmZvcnRDdXJ2ZTwva2V5PgogICAgICAgICAgICAgIDxzdHJpbmc+NDA9MCUsODA9NTAlPC9z
dHJpbmc+CiAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgPGtleT5RT1NUaGVybWFsVGhy
ZXNob2xkczwva2V5PgogICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgICA8a2V5PlV0aWxp
dHk8L2tleT4KICAgICAgICAgICAgICA8aW50ZWdlcj4yNTE8L2ludGVnZXI+CiAgICAgICAgICAg
ICAgPGtleT5Ob25Gb2NhbDwva2V5PgogICAgICAgICAgICAgIDxpbnRlZ2VyPjI1MTwvaW50ZWdl
cj4KICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICA8a2V5PlRoZXJtYWxQcmVzc3VyZTwv
a2V5PgogICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgICA8a2V5Pk5vbWluYWw8L2tleT4K
ICAgICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgICAgIDxrZXk+SGlnaFRocmVzaG9sZDwv
a2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+ODg8L2ludGVnZXI+CiAgICAgICAgICAgICAg
ICA8a2V5Pkxvd1RocmVzaG9sZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MDwvaW50
ZWdlcj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGtleT5Nb2RlcmF0ZTwv
a2V5PgogICAgICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICAgICAgPGtleT5IaWdoVGhyZXNo
b2xkPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4xMjA8L2ludGVnZXI+CiAgICAgICAg
ICAgICAgICA8a2V5Pkxvd1RocmVzaG9sZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+
NTA8L2ludGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICAgIDxrZXk+SGVh
dnk8L2tleT4KICAgICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgICAgIDxrZXk+SGlnaFRo
cmVzaG9sZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MjAwPC9pbnRlZ2VyPgogICAg
ICAgICAgICAgICAgPGtleT5Mb3dUaHJlc2hvbGQ8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRl
Z2VyPjkwPC9pbnRlZ2VyPgogICAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgICA8a2V5
PlRyYXBwaW5nPC9rZXk+CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgICA8a2V5
PkhpZ2hUaHJlc2hvbGQ8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjI1MDwvaW50ZWdl
cj4KICAgICAgICAgICAgICAgIDxrZXk+TG93VGhyZXNob2xkPC9rZXk+CiAgICAgICAgICAgICAg
ICA8aW50ZWdlcj4xODA8L2ludGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAg
ICAgIDxrZXk+U2xlZXBpbmc8L2tleT4KICAgICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAg
ICAgIDxrZXk+SGlnaFRocmVzaG9sZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MjUy
PC9pbnRlZ2VyPgogICAgICAgICAgICAgICAgPGtleT5Mb3dUaHJlc2hvbGQ8L2tleT4KICAgICAg
ICAgICAgICAgIDxpbnRlZ2VyPjI1MTwvaW50ZWdlcj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAg
ICAgICAgICAgIDwvZGljdD4KICAgICAgICAgIDwvZGljdD4KICAgICAgICAgIDxrZXk+R1BVPC9r
ZXk+CiAgICAgICAgICA8ZGljdC8+CiAgICAgICAgICA8a2V5PklPPC9rZXk+CiAgICAgICAgICA8
ZGljdC8+CiAgICAgICAgPC9kaWN0PgogICAgICA8L2RpY3Q+CiAgICAgIDxrZXk+VW5pZmllZFNs
ZWVwU2xpZGVyUHJlZjwva2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+VENQS2VlcEFsaXZl
RHVyaW5nU2xlZXA8L2tleT4KICAgICAgPHRydWUvPgogICAgICA8a2V5PlRDUEtlZXBBbGl2ZUV4
cGlyYXRpb25UaW1lb3V0PC9rZXk+CiAgICAgIDxpbnRlZ2VyPjQzMjAwPC9pbnRlZ2VyPgogICAg
ICA8a2V5Pk5vdGlmaWNhdGlvbldha2U8L2tleT4KICAgICAgPHRydWUvPgogICAgICA8a2V5PkRO
RFdoaWxlRGlzcGxheVNsZWVwczwva2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+RGFya1dh
a2VTZXJ2aWNlczwva2V5PgogICAgICA8ZGljdD4KICAgICAgICA8a2V5PkRhcmtXYWtlQmFja2dy
b3VuZFRhc2tzPC9rZXk+CiAgICAgICAgPGludGVnZXI+MTwvaW50ZWdlcj4KICAgICAgICA8a2V5
PlNsZWVwU2VydmljZXM8L2tleT4KICAgICAgICA8aW50ZWdlcj43PC9pbnRlZ2VyPgogICAgICAg
IDxrZXk+U2xlZXBTZXJ2aWNlc01vZGVzPC9rZXk+CiAgICAgICAgPGRpY3Q+CiAgICAgICAgICA8
a2V5Pk1vZGVBPC9rZXk+CiAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgPGtleT5FeHBpcmF0
aW9uPC9rZXk+CiAgICAgICAgICAgIDxpbnRlZ2VyPjA8L2ludGVnZXI+CiAgICAgICAgICAgIDxr
ZXk+QmF0dGVyeUZsb29yPC9rZXk+CiAgICAgICAgICAgIDxpbnRlZ2VyPjA8L2ludGVnZXI+CiAg
ICAgICAgICAgIDxrZXk+QmFzZUludGVydmFsczwva2V5PgogICAgICAgICAgICA8ZGljdD4KICAg
ICAgICAgICAgICA8a2V5PkFDPC9rZXk+CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAg
ICAgICA8a2V5PkJhc2VTbGVlcEludGVydmFsPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdl
cj4zNjAwPC9pbnRlZ2VyPgogICAgICAgICAgICAgICAgPGtleT5CYXNlV2FrZUNhcEludGVydmFs
PC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj44NjQwMDwvaW50ZWdlcj4KICAgICAgICAg
ICAgICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGtleT5CYXR0ZXJ5PC9rZXk+CiAgICAgICAgICAg
ICAgPGRpY3Q+CiAgICAgICAgICAgICAgICA8a2V5PkJhc2VTbGVlcEludGVydmFsPC9rZXk+CiAg
ICAgICAgICAgICAgICA8aW50ZWdlcj4zNjAwPC9pbnRlZ2VyPgogICAgICAgICAgICAgICAgPGtl
eT5CYXNlV2FrZUNhcEludGVydmFsPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4xODA8
L2ludGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICA8L2RpY3Q+CiAgICAg
ICAgICA8L2RpY3Q+CiAgICAgICAgPC9kaWN0PgogICAgICA8L2RpY3Q+CiAgICA8L2RpY3Q+CiAg
PC9kaWN0Pgo8L3BsaXN0Pgo=</data>
    </dict>
  </dict>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2017-2022 PMheart. All rights reserved.</string>
  <key>OSBundleRequired</key>
  <string>Root</string>
</dict>
</plist>
